.competence {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.competence .content {
  background-color: black;
  color: white;
  position: relative;
  text-align: center;
  height: 40%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.text-content .liste {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.text-content h2 {
  margin-top: 15px;
}

.text-content .liste .card {
  height: 100%;
  width: 25%;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.text-content .liste .card .header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.text-content .liste .card .body {
  padding: 5px;
  width: 100%;
}

.text-content .liste .card .skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 15px;
  width: 100%;
}

.text-content .liste .card .skill-name {
  width: 100px;
  font-size: 14px;
}

.text-content .liste .card .skill-level {
  width: 80%;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.text-content .liste .card .skill-percent {
  background-color: #333;
  height: 100%;
}

.skill-percent-number {
  margin-left: 20px;
  font-size: 16px;
}

.pourcant90 {
  width: 90%;
}

.pourcant80 {
  width: 80%;
}

.pourcant70 {
  width: 70%;
}

.pourcant60 {
  width: 60%;
}

.pourcant50 {
  width: 50%;
}

.pourcant40 {
  width: 40%;
}

.pourcant30 {
  width: 30%;
}

.pourcant20 {
  width: 20%;
}

.pourcant10 {
  width: 10%;
}

.pourcant0 {
  width: 0%;
}

@media screen and (max-width: 767px) {
  .competence .content {
    height: 100%;
  }

  .text-content .liste {
    flex-wrap: wrap;
  }

  .text-content .liste .card {
    width: 90%;
    height: auto;
  }
}
