.navbar {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  z-index: 1000;
}

.navbar_links {
  display: flex;
  width: 45%;
  justify-content: space-around;
}

.navbar_link {
  padding: 0 0.3rem;
  color: inherit;
}

.navbar_burger {
  width: 40px;
  height: 40px;
  background: transparent;
  color: inherit;
  border: none;
  display: none;
}

@media screen and (max-width: 767px) {
  .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .navbar_links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    width: 0;
    height: 100vh;
    padding: 2rem;
    background: black;
    visibility: hidden;
    transition: all 0.8s ease-in-out;
  }

  .show-nav .navbar_links {
    right: 0;
    width: 100vw;
    visibility: visible;
  }

  .navbar_item::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 3vw;
    height: 1px;
    background: #fff;
  }

  .navbar_item:last-child::after {
    display: none;
  }

  .navbar_link {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }

  .navbar_burger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  .navbar_burger:hover {
    cursor: pointer;
  }

  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background-color: white;
    transition: all 0.5s ease-in-out;
  }

  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .burger-bar::before {
    transform: translateY(-12px);
  }

  .burger-bar::after {
    transform: translateY(12px);
  }

  .show-nav .burger-bar {
    width: 0;
    background: transparent;
  }

  .show-nav .burger-bar::before {
    transform: rotate(45deg);
  }
  .show-nav .burger-bar::after {
    transform: rotate(-45deg);
  }

  .navbar_item {
    transform: translateY(100vh);
  }

  .show-nav .navbar_item {
    transform: translateY(0);
  }

  .show-nav .slideInDown-1 {
    transition: all 1s ease-out;
  }

  .show-nav .slideInDown-2 {
    transition: all 1.1s ease-out;
  }

  .show-nav .slideInDown-3 {
    transition: all 1.2s ease-out;
  }

  .show-nav .slideInDown-4 {
    transition: all 1.3s ease-out;
  }

  .show-nav .slideInDown-5 {
    transition: all 1.4s ease-out;
  }
}
