.presentation {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rect {
  width: 70%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding-left: 50px;
  background: linear-gradient(50deg, white 0 77%, black 50% 100%);
}
.content {
  width: 60%;
  /* height: 100%; */
  background-color: white;
  color: black;
}

.content h2 {
  margin-bottom: 15px;
}

.content p {
  line-height: 1.5rem;
  letter-spacing: 1.2px;
}
